<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <span><%= link_to "#{@user.microposts.count} microposts", user_path %></span>
            <span><%= link_to "#{@user.following_users.count} following", following_user_path %></span>
            <span><%= @user.follower_users.count %> followers</span>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.follower_users.any? %>
            <h3>
                Followers (<%= @user.follower_users.count %>)
            </h3>
            <ol class="microposts">
                <% @follower_users.each do |follower_user| %>
                    <li><%= link_to gravatar_for(follower_user, size: 50), follower_user %></li>
                    <li><span class="user"><%= link_to follower_user.name, user_path(follower_user) %></span></li>
                <% end %>
            </ol>
        <% end %>
    </div>
</div>
