<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <span><%= @user.microposts.count %> microposts</span>
            <span><%= link_to "#{@user.following_users.count} following", following_user_path %></span>
            <span><%= link_to "#{@user.follower_users.count} followers", followers_user_path %></span>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>
                Microposts (<%= @user.microposts.count %>)
            </h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
</div>
